@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}

header {
	padding: 30px;
	text-align: center;
	/*background: #0000ff;*/
}

h1, p {
	width: 100%;
	text-align: center;
	color: white;
}

a {
	display: block;

	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
}
.topnav {
	overflow: hidden;
}
.topnav a:hover {
	background-color: #000eee;
	text-decoration: none;
	color: white;
}